/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.app-container{
  display: flex;
  flex-direction: column;
  height:100vh;
}

html, body{
  background-image: url('C:\Users\l\Documents\danielfinals\img\bg_5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin:0;
  padding:0;
  height: 100%;
  overflow: hidden;
}

#main-content{
 flex: 1;
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding-top: 100px; 
 text-align: center;
 width: 100%;
 height: calc(100vh - 120px);
 box-sizing: border-box;

}

.footer{
  height: 60px;
  background-color: #eee; 
  width: 100vw;
}

.nostart-div{
  justify-content: center;
  align-items: center;
  width: auto;
  color: rgb(49, 20, 144);
  text-shadow: 
  -1px -1px 0 rgb(219, 60, 118),
  1px -1px 0 rgb(190, 140, 251), 
  -1px 1px 0 rgb(229, 110, 110), 
  1px 1px 0 rgb(187, 162, 55)
}

.start-button {
  background:blue;
  width:200px;
  height:50px;
  font-Size:120%;
  color:white;
  text-align:center;
  cursor:pointer;
  display:block;
  padding-bottom:15px;
  transition: background-position 0.3s ease;
  background-image: linear-gradient(to right, blue 50%, purple 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  margin-bottom: 10px;
  margin-left: 35%;
}

.start-button:hover{
  background-position: right bottom;
  border: 2px solid yellow;
}

.name-inputs-container{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: auto;
}

.name-input1, .name-input2 {
  width: 150px; 
  height: 50px;
  padding-left: 15px;
  font-family: Impact;
  margin-bottom: 20px;
}

.main-div{
  width:100%;
  height:100%;
  display:flex;
  flex-Direction:column;
  justify-Content:center;
  align-Items:center;
  text-Align:center;
  font-Family:Impact;
}

.spModeButton{
  cursor:pointer;
  background-image: linear-gradient(to right, white 50%, purple 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.2s ease;
  color: black;
}

.spModeButton:hover:not(:disabled){
  background-position: right bottom;
  color: white;
}

.spModeButton:disabled{
  background-image: none;
  background-color: purple;
  cursor: not-allowed;
  color: white;
  border: black 2px;
}

.compModeButton {
  cursor:pointer;
  background-image: linear-gradient(to right, white 50%, purple 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background-position 0.2s ease;
  color:black;  
}

.compModeButton:hover:not(:disabled){
  background-position: right bottom;
  color: white;
}

.compModeButton:disabled{
  background-image: none;
  background-color: purple;
  cursor: not-allowed;
  color: white;
}

/* .flashcard{
  width: 200px;
  height: 120px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 16px;
  cursor: pointer;
  transition: transform 0.6s;
} */
.top-bar{
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: impact;
}

.left-panel-1pmode{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* background-color: white; */
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  color: black;
  overflow-y: auto;
}

.right-panel-1pmode{
  padding: 20px;
  /* background-color: white; */
  font-size: 1.2rem;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  color: black;
  overflow-y: auto;
}

.difficulty-text{
  /* background-color: red; */
  font-family: impact;
}

.styled-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.styled-list li {
  border: 2px solid white;
  background-color: rgb(29, 29, 123);
  padding: 2% 15px;
  margin-bottom: 1px;
  border-radius: 8px;
  color: white;
  font-weight: 400;
  /* cursor: pointer; */
  transition: background-color 0.7s ease;
  overflow-y: hidden;
  box-sizing: border-box;

}

.difficulty-text h5 {
  margin-bottom: 0;
  margin-top: 0;
}

.question-flashcard {
   background-color: rgb(29, 29, 123);
  padding: 20px 10px;
  width: 50%;
  margin: 10px auto 0;
  height: 50%;
  text-align: center;
  border-radius: 8px; /* optional for nice rounded edges */
  color: white; /* for better contrast on green */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "impact";
}

.answers-container {
 display: flex;
 flex-direction: row;
 gap: 25px;
 /* margin-left: 25%; */
 width: 100%; 
 margin-top: 20px;
 
}

.answer-flashcard{
  background-color: #f0f0f0;;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0,1);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  width: 100%;
  height: 60px;
  transition: background-color 0.9s ease;
  font-family: "impact";
}

.answer-flashcard:hover{
  background-color: rgb(29, 29, 123);
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 125%;
}

.styled-list li.active-question { 
  background-color: yellow;
  font-weight: bold;
  color: black;
  border: 2px solid black;
}

.styled-list li.correct-question {
  background-color: yellowgreen;
  font-weight: bold;
  color: black;
  border: 2px solid black;
}

.styled-list li.incorrect-question {
  background-color: rgb(228, 52, 52);
  font-weight: bold;
  color: black;
  border: 2px solid black;
}